@font-face {
    font-family: 'permanent_markerregular';
    src: url('fonts/permanentmarker-webfont.woff2') format('woff2'),
         url('fonts/permanentmarker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.login-info {
  /*border: 5px solid red;*/
  float: left;
}

.login-text {
  font-size: large;
  font-family: 'permanent_markerregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #464a63;
}

.cassette {
  height: 300px;
  transform: rotate(-15deg);
  float: right;
  margin-top: 50px;
  margin-bottom: 30px;
}

.cassette-col {
  /*border: 5px solid red;*/
  text-align: center;
  margin: auto;
}

.login-col {
  /*border: 5px solid red;*/
  text-align: center;
  margin: auto;
  padding-left: 0;
}

.album-col {
  /*border: 5px solid red;*/
  text-align: center;
  margin: auto;
}

.song-col {
  /*border: 5px solid red; */
  text-align: center;
  margin: auto;
}

.slider-col {
  /*border: 5px solid red;*/
  text-align: center;
  margin: auto;
  padding: 30px;
}

.artist-col {
  /*border: 5px solid red;*/
  text-align: center;
  margin: auto;
}

.volume-col {
  /*border: 5px solid red;*/
  text-align: center;
  margin: auto;
}

.album {
  border-radius: 50%;
  margin: 40px;
  float: right;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, color-stop(0.93, transparent), to(rgba(250, 250, 250, 0.5)));
}

.song-icon {
  font-size: 16px;
}

.middle {
  display: flex;
  align-items: center;
}

.song-text {
  font-size: large;
  font-family: 'permanent_markerregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #464a63;
}

.song-info {
  /*border: 5px solid red;*/
  float: left;
  text-align: center;
  margin: auto;
}

.volume-text {
  font-size: large;
  font-family: 'permanent_markerregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #464a63;
  margin-top: 10px;
}

.volume-up {
  margin-bottom: 10px;
}

.position-text {
  font-size: large;
  font-family: 'permanent_markerregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #464a63;
  position: absolute;
  top: 12px;
}

.button-text {
  font-size: 30px;
  font-family: 'permanent_markerregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #464a63;
  text-align: center;
  margin: auto; 
}

.button-hov {
  display: inline-block;
  margin: 5px;
}

.button-hov:hover {
  transform: scale(1.2);
}

.btn-primary {
  background-color: #464a63 !important;
  border-color: #464a63 !important;
}

.slidecontainer {
  margin: auto;
  width: 30%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


/* xs devices */
@media (max-width:576px){
  .login-info {
    float: none;
  }
  .cassette {
    height: 200px;
    float: none;
  }
  .login-col {
    padding-left: 15px;
  }
  .album {
    float: none;
    height: 260px;
  }
  .song-info {
    float: none;
  }
  .volume-bar {
    padding-left: 50px;
    padding-right: 50px;
  }
  .position-text {
    font-size: 15px;
  }
}

/* small devices */
@media (min-width: 577px) and (max-width:768px){
  .cassette {
    height: 175px;
    margin-top: 105px;
  }
  .login-text {
    font-size: 16px;
  }
  .album {
    height: 200px;
  }
  .song-text {
    font-size: 15px;
  }
  .song-icon {
    font-size: 15px;
  }
  .position-text {
    font-size: 15px;
  }
}

/* medium devices */
@media (min-width: 769px) and (max-width:992px){
  .cassette {
    height: 250px;
    margin-top: 75px;
  }
  .login-text {
    font-size: 18px;
  }
  .song-text {
    font-size: 20px;
  }
  .song-icon {
    font-size: 18px;
  }
  .position-text {
    font-size: 20px;
  }
  .button-hov {
    font-size: 35px;
  }

}

/* large devices */
@media (min-width: 993px) and (max-width: 1200px){
  .cassette {
    height: 320px;
    margin-top: 100px;
  }
  .login-text {
    font-size: 22px;
  }
  .album {
    height: 350px;
  }
  .song-text {
    font-size: 23px;
  }
  .song-icon {
    font-size: 20px;
  }
  .position-text {
    font-size: 23px;
  }
  .button-hov {
    font-size: 40px;
    margin: 8px;
  }

}

/* xl devices */
@media (min-width: 1201px){
  .cassette {
    height: 400px;
    margin-top: 140px;
  }
  .login-text {
    font-size: 28px;
  }
  .album {
    height: 400px;
  }
  .song-text {
    font-size: 30px;
  }
  .song-icon {
    font-size: 25px;
  }
  .position-text {
    font-size: 30px;
  }
  .button-hov {
    font-size: 50px;
    margin: 10px;
  }
}