@font-face {
    font-family: 'permanent_markerregular';
    src: url('fonts/permanentmarker-webfont.woff2') format('woff2'),
         url('fonts/permanentmarker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.login-info {
  border: 5px solid red;
  float: left;
}

.login-text {
  font-size: large;
  font-family: 'permanent_markerregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #464a63;
}

.cassette {
  height: 300px;
  transform: rotate(-15deg);
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cassette-col {
  border: 5px solid red;
  text-align: center;
  margin: auto;
}

.login-col {
  border: 5px solid red;
  text-align: center;
  margin: auto;
  padding-left: 0;
}

.expired {
  position: absolute;
  top: 100px;
  left: 20px;
}

.slidecontainer {
  margin: auto;
  width: 30%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


/* xs devices */
@media (max-width:576px){
  .cassette {
    height: 120px;
  }
}

/* small devices */
@media (min-width: 577px) and (max-width:768px){
  .cassette {
    height: 175px;
  }
}

/* medium devices */
@media (min-width: 769px) and (max-width:992px){
  .cassette {
    height: 250px;
  }
}

/* large devices */
@media (min-width: 993px) and (max-width: 1200px){
  .cassette {
    height: 350px;
  }
}

/* xl devices */
@media (min-width: 1201px){
  .cassette {
    height: 450px;
  }
}